{{ define "content" }}
<div class="header">
	<h1>Kilo - fast, secure, free</h1>
	<h2>Upload your files to share or for personal storage</h2>
</div>


<div class="content">
	{{ if .Users }}
	<table class="pure-table pure-table-horizontal pure-g">
		<thead class="pure-u-1">
			<tr>
				<th>User</th>
			</tr>
		</thead>
		<tbody class="pure-u-1">
			{{ range .Users }}
			<tr>
				<td><a href="/user/{{ .ID }}/">{{ .Username }}</a></td>
			</tr>
			{{ end }}
		</tbody>
	</table>
	{{ else }}
	<p>Looks like nobody has registered yet. <a href="/login/">Create your free account here!</a></p>
	{{ end }}
</div>
{{ end }}
