{{ define "content" }}
<div class="header">
	<h1>Kilo - fast, secure, free</h1>
	<h2>Upload your files to share or for personal storage</h2>
</div>


<div class="content">
	<!-- <h2 class="pure-u-1">Active users</h2> -->
	{{ if .Users }}
	<table class="pure-table pure-table-horizontal pure-g">
		<thead class="pure-u-1">
			<tr class="pure-u-1">
				<th class="pure-u-3-5">User</th>
				<th class="pure-u">Uploaded files</th>
			</tr>
		</thead>
		<tbody class="pure-u-1">
			{{ range .Users }}
			<tr class="pure-u-1">
				<td class="pure-u-3-5"><a href="/user/{{ .ID }}/">{{ .Username }}</a></td>
				<td class="pure-u">0</td>
			</tr>
			{{ end }}
		</tbody>
	</table>
	{{ else }}
	<p>Looks like nobody has registered yet. <a href="/login/">Create your free account here!</a></p>
	{{ end }}
</div>
{{ end }}
