{{ define "content" }}
<div class="header">
	<h1>{{ .User.Username }}</h1>
</div>


<style>
	.delete-msg-button {
		font-size: 50%;
		background: red;
		color: white;
	}
</style>

<script>
	function makeRefresh(f) {
		f.onreadystatechange = () => {
			if (f.readyState == 4 && f.status == 200) {
				location.reload();
			}
		}
	}

	function deleteMessage(id) {
		var req = new XMLHttpRequest();
		makeRefresh(req);
		req.open("DELETE", "/message/"+id+"/", true);
		req.send();
	}

	function changeUploadVisibility(id) {
		var req = new XMLHttpRequest();
		makeRefresh(req);
		req.open("PATCH", "/upload/"+id+"/", true);
		req.send();
	}

	function deleteUpload(id) {
		var req = new XMLHttpRequest();
		makeRefresh(req);
		req.open("DELETE", "/upload/"+id+"/", true);
		req.send();
	}
</script>


<div class="content">
	{{- $p := . -}}

	{{ if .Uploads }}
	<table class="pure-table pure-table-horizontal">
		<thead>
			<tr>
				<th>Date</th>
				<th>Filename</th>
				<th>Visibility</th>
				<th></th>
			</tr>
		</thead>
		<tbody>

			{{ range .Uploads }}
			<tr>
				<td>{{ .Timestamp | fdate }}</td>
				<td><a href="/uploads/{{ .ID }}/">{{ .Filename }}</a></td>
				{{ if .Visibility }}
				<td>Public</td>
				{{ else }}
				<td>Hidden</td>
				{{ end }}
				<td>
					{{ if eq $p.LoggedInUser.ID $p.User.ID }}
					<input type="button" value="Change"
						onclick="changeUploadVisibility({{ .ID }});">
					<input type="button" value="Delete"
						onclick="deleteUpload({{ .ID }});">
					{{ end }}
				</td>
			</tr>
			{{ end }}
		</tbody>
	</table>
	{{ else }}
	<p>No files have been uploaded.</p>
	{{ end }}


	{{ if .LoggedInUser.ID }}
	<h2>Post a message</h2>
	<form class="pure-form pure-g" method="POST" action="/user/{{ .User.ID }}/message/">
		<div class="pure-u-4-5">
			<input name="content" type="text" class="pure-input-1" />
		</div>
		<div class="pure-u-1-5">
			<button type="submit" class="pure-input-1">Post</button>
		</div>
	</form>
	{{ end }}

	{{ if .Messages }}
	<h2>Comments</h2>
	{{ range .Messages }}
	<div>
		<h3 class="pure-g">
			<span class="pure-u-4-5">
				{{- .Author }} @ {{ .Timestamp | fdate -}}
			</span>
			<span class="pure-u-1-5">
				{{- if or (eq .Author $p.LoggedInUser.Username) (eq $p.User.ID $p.LoggedInUser.ID) -}}
				<a onclick="deleteMessage({{ .ID }});" class="pure-button delete-msg-button">Delete</a>
				{{ end }}
			</span>
		</h3>
		<p>{{ .Content }}</p>
	</div>
	{{ end }}
	{{ else }}
	<h2>No comments have been posted.</h2>
	{{ end }}
</div>
{{ end }}
