{{ define "content" }}
<div class="header">
	<h1>{{ .User.Username }}</h1>
</div>


<div class="content">
	<!-- <h2 class="pure-u-1">Active users</h2> -->
	{{ if .Uploads }}
	<table class="pure-table pure-table-horizontal">
		<thead>
			<tr>
				<th>Date</th>
				<th>Filename</th>
				<th>Visibility</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{{ range .Uploads }}
			<tr>
				<td>{{ .Timestamp | fdate }}</td>
				<td><a href="/uploads/{{ .ID }}/">{{ .Filename }}</a></td>
				{{ if .Visibility }}
				<td>Public</td>
				{{ else }}
				<td>Hidden</td>
				{{ end }}
				<td><input type="button" value="Change"><input type="button" value="Delete"></td>
			</tr>
			{{ end }}
		</tbody>
	</table>
	{{ else }}
	<p>No files have been uploaded.</p>
	{{ end }}


	{{ if .LoggedInUser.ID }}
	<h2>Post a message</h2>
	<form class="pure-form pure-g">
		<div class="pure-u-4-5">
			<input type="text" class="pure-input-1" />
		</div>
		<div class="pure-u-1-5">
			<input type="submit" value="Post" class="pure-input-1">
		</div>
	</form>
	{{ end }}

	{{ if .Messages }}
	<h2>Comments</h2>
	{{ range .Messages }}
	<div>
		<h3>{{ .Author }} @ {{ .Timestamp | fdate }}</h3>
		<p>{{ .Content }}</p>
	</div>
	{{ end }}
	{{ else }}
	<h2>No comments have been posted.</h2>
	{{ end }}
</div>
{{ end }}
